header.header.content-wrapper(id="start") 
  a.header__logo.site-logo(href="index.html") MNTN 
  .header__menu.header-menu
    nav.header-menu__body
      ul.header-menu__list 
        li.header-menu__item
          a.header-menu__link(href="404.html") Equipment
        li.header-menu__item
          a.header-menu__link(href="404.html") About us
        li.header-menu__item  
          a.header-menu__link(href="404.html") Blog
  a.header__user(href="404.html") Account
  button.icon-menu(type="button")
    span 
    span 
    span